<html>
  <head>
    <title>Node.js TodoMVC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/todomvc-common@1.0.5/base.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/todomvc-app-css@2.1.2/index.css">
  </head>
  <body>
    <div id="app">
      <!-- snippets copy from http://todomvc.com/examples/vue/ -->
      <section class="todoapp" v-cloak>
        <header class="header">
          <h1>todos</h1>
          <input class="new-todo" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main" v-show="todoList.length">
          <input class="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
          <ul class="todo-list">
            <li class="todo" v-for="todo in todoList" :key="todo.id" :class="{ completed: todo.completed, editing: editedTodo && todo.id === editedTodo.id }">
              <div class="view">
                <input class="toggle" type="checkbox" :checked="todo.completed" @click="completeTodo(todo)">
                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <input class="edit" type="text" v-model="editedTodo && editedTodo.title" v-todo-focus="editedTodo && todo.id === editedTodo.id" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
            </li>
          </ul>
        </section>
        <footer class="footer" v-show="todoList.length">
          <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining === 1 ? 'item' : 'items' }} left
          </span>
          <ul class="filters">
            <li><a @click="listData()" :class="{ selected: completed === undefined }">All</a></li>
            <li><a @click="listData(false)" :class="{ selected: completed === false }">Active</a></li>
            <li><a @click="listData(true)" :class="{ selected: completed === true }">Completed</a></li>
          </ul>
        </footer>
      </section>
      <footer class="info" style="font-size: 14px; font-weight: bold;">
        <p>TIP: Double-click to edit a todo</p>
        <p>Written by <a href="https://github.com/atian25">TZ</a></p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
      </footer>
    </div>
  </body>
  <script src="//cdn.jsdelivr.net/npm/vue"></script>
  <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        todoList: [],
        newTodo: '',
        editedTodo: null,
        completed: 'all',
      },
      computed: {
        remaining: function() {
          return this.todoList.filter(x => !x.completed).length;
        },
      },
      methods: {
        listData: function(completed) {
          // 简化处理，忽略错误处理和加载提示
          axios.get('/api/todo', { params: { completed } })
            .then(res => {
              this.todoList = res.data;
            });
        },

        addTodo: function() {
          const value = this.newTodo && this.newTodo.trim();
          if (!value) return;

          const item = {
            title: value,
            completed: false,
          };

          axios.post('/api/todo', item)
            .then(res => {
              this.todoList.push(res.data);
              this.newTodo = '';
            });
        },

        completeTodo: function(todo) {
          todo.completed = !todo.completed;
          axios.put(`/api/todo/${todo.id}`, todo);
        },

        editTodo: function(todo) {
          this.editedTodo = Object.assign({}, todo);
        },

        doneEdit: function (todo) {
          if (!this.editedTodo) return;

          const title = this.editedTodo.title.trim();
          this.editedTodo = null;

          if (!title) {
            this.removeTodo(todo);
          } else if (todo.title !== title){
            todo.title = title;
            axios.put(`/api/todo/${todo.id}`, todo);
          }
        },

        cancelEdit: function (todo) {
          this.editedTodo = null;
        },

        removeTodo: function(todo) {
          axios.delete(`/api/todo/${todo.id}`)
            .then(() => {
              const index = this.todoList.findIndex(x => x.id === todo.id);
              this.todoList.splice(index, 1);
            });
        },
      },

      mounted() {
        this.listData();
      },

      directives: {
        'todo-focus': function(el, binding) {
          if (binding.value) {
            el.focus();
          }
        }
      },
    });
  </script>
</html>
